<div>
  <div class="container">
    <div class=" text-right">
      <button class="btn btn-warning m-2" data-target="#x" data-toggle="modal">add person</button>
    </div>

    <div class="modal" id="x">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-body">

            <form action="" #ref="ngForm" (ngSubmit)="submit(ref.value);ref.reset()">
               <div class="form-group" >
                  <label for="">enter name</label>
                  <input type="text" name="name" class="form-control" ngModel>
               </div>
               <div class="form-group">
                <label for="">enter age</label>
                <input type="number" name="age" class="form-control" ngModel>
               </div>
               <div class="form-group">
                <label for="">enter gender</label>
                <input type="text" name="gender" class="form-control" ngModel>
               </div>
               <div class="form-group">
                <label for="">enter mobile number</label>
                <input type="number" name="mobileno" class="form-control" ngModel>
               </div>
               <button class="btn btn-warning" type="submit">submit</button>

            </form>


         </div>

       </div>


     </div>
    </div>

  </div>
</div>
<div class="container">
<table class="table">
  <thead>
    <th>name</th>
    <th>age</th>
    <th>gender</th>
    <th>mobile number</th>
    <th>edit</th>
    <th>delete</th>

  </thead>
  <tr *ngFor="let x of array">
    <td>{{x.name}}</td>
    <td>{{x.age}}</td>
    <td>{{x.gender}}</td>
    <td>{{x.mobileno}}</td>
    <td><button class="btn btn-info" data-target="#e" data-toggle="modal" (click)="editmod(x)">edit</button></td>
    <td><button class="btn btn-danger" (click)="delete(x)">delete</button></td>
  </tr>
</table>
</div>
<div class="modal" id="e">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

         <form action="" #ref1="ngForm" (ngSubmit)="update(ref1.value);">
            <div class="form-group" >
               <label for="">enter name</label>
               <input type="text" name="name" class="form-control" [ngModel]=editarr.name>
            </div>
            <div class="form-group">
             <label for="">enter age</label>
             <input type="number" name="age" class="form-control" [ngModel]=editarr.age>
            </div>
            <div class="form-group">
             <label for="">enter gender</label>
             <input type="text" name="gender" class="form-control" [ngModel]=editarr.gender>
            </div>
            <div class="form-group">
             <label for="">enter mobile number</label>
             <input type="number" name="mobileno" class="form-control" [ngModel]=editarr.mobileno>
            </div>
            <button class="btn btn-warning" type="submit">update</button>

         </form>